.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name masa
      %ul.top-items__icon
        %li.left-icon
          %i.far.fa-edit
          %a{:href => "#"}
        %li.right-icon
          %i.fas.fa-cog              
          %a{:href => "#"}

  .side-bar__group-list
    .group-contents
      .group-name techcamp
      .group-member まだメッセージがありません