.side-bar
  .side-header
    .side-header__box
      .side-header__box__name masa
      %ul.side-header__box__icon
        %li.left-icon
          %i.far.fa-edit
          %a{:href => "#"}
        %li.right-icon
          %i.fas.fa-cog              
          %a{:href => "#"}

  .groups
    .groups__contents
      .groups__contents__name techcamp
      .groups__contents__member まだメッセージがありません