.side-bar
  .side-header
    .side-header__box
      .side-header__box__name masa
      %ul.side-header__box__icon
        %li.left-icon
          = link_to "#" do
            %i.far.fa-edit
        %li.right-icon
          = link_to "#" do
            %i.fas.fa-cog

  .groups
    .groups__contents
      .groups__contents__name techcamp
      .groups__contents__member まだメッセージがありません