.side-bar
  .side-header
    .side-header__box
      .side-header__box__name masa
      %ul.side-header__box__icon
        %li.left-icon
          = link_to new_group_path do
            %i.far.fa-edit
        %li.right-icon
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog

  .groups
    - current_user.groups.each do |group__contents|
      .groups__contents
        = link_to '#', class: "group" do
          .groups__contents__name
            = group__contents.name
          .groups__contents__member 
            メッセージはまだありません。